body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0%;
}

Aside ul li a {
    text-decoration: none;
    color: white;
}

/*FIRST SECTION---------------------------------------------------*/
aside {
    text-align: center;
    background-color: black;
    background-size: 70px;
    padding-top: 1%;
    padding-bottom: 1%;
}

.Menuformat {
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    right: 17px;
}

header {
    text-align: center;
    padding-top: 4%;
    padding-bottom: 0.1%;
    background-image: url(https://images.unsplash.com/photo-1611307742746-43cbea512c37?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}
header p{
    font-size: 60px;
    position: relative;
    bottom: 100px;
}

header img {
    border-radius: 50%;
   border:4px solid black;
}
img{
    border-radius: 50px;
}

.BackgroundDimCover {
    background-color: rgba(0, 0, 0, 50%);
    height: 100vh;
    color: white;
    padding-top: 16%;
    margin-top: -10%;
}

/*SECOND SECTION ---------------------------------------------------*/

h1,h2,h3,p,ul {
    margin-bottom: 20px;
}

article {
    background-color:green;
    border: 1px solid black;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  
}
article div {
    border: 1px solid black;
}
article h2,h3{
    text-align:center;
}
.item2{
    grid-row: 2/3;
    grid-column: 2/2;
}
.item3{
    grid-row: 3/3;
    grid-column: 1/2; 
}

#education{
  background-color: white;
  font-size: 40px;
  border-end-end-radius: 50px;
  border-start-end-radius: 50px;
  padding-right: 3px;
  animation-name: sidestepname;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}
@keyframes sidestepname{
    from{ transform: translateX(-2000px);
    }
    to{
        transform: translateX(0px);
    }
}
#experience{
    background-color: white;
    font-size: 40px;
    border-start-start-radius: 50px;
    border-end-start-radius: 50px;
    padding-right: 3px;
    animation-name: sidexperience;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
  }
  @keyframes sidexperience{
      from{ transform: translateX(2000px);
      }
      to{
          transform: translateX(0px);
      }
  }

  #skills{
    background-color: white;
    font-size: 40px;
    border-end-end-radius: 50px;
    border-start-end-radius: 50px;
    padding-right: 3px;
    animation-name: sideskills;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
  }
  @keyframes sideskills{
      from{ transform: translateX(-2000px);
      }
      to{
          transform: translateX(0px);
      }
  }

/*THIRD SECTION ---------------------------------------------------*/
footer {
    font-size: 109%;
    padding: 2%;
    background-color: rgb(35, 42, 89);
    display: flex;
    justify-content: space-evenly;
}

.backtotop {
    background-color: green;
    border-radius: 20%;
    width: 230px;
}

.formborder {
    background-color: rgb(22, 24, 60);
    border-radius: 20px;
    text-align: center;
}

.grid-container {
    background-color: rgb(22, 24, 60);
    border: 1px solid green;
    display: grid;
    grid-template-columns:1fr 2fr;
    grid-template-rows: 1fr;
    row-gap: 6px;
    padding: 20px;
}

.grid-item {
    column-gap: 10px;
}

.itemA {
    background-color: burlywood;
    border-start-start-radius: 20px;
    border-end-start-radius: 20px;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
}

.itemB,input,textarea,select {
    width: 244px;
    background-color: white;
    border-end-end-radius: 20px;
    border-start-end-radius: 20px;
    border: none;
}
input{
    height: 31.6px;
}
select{
    height:34px;
}
button{
    margin-top: 15px;
    height: 30px;
    position: relative;
    left:120px;
}


/*DEVICE RESPONSIVENESS SECTION----------------------------------------*/
@media only screen and (max-width: 767px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    body,input,textarea,select,option,button {
        font-size: 11.5px;
    }
    .ImageCenter{
        display:flex; 
        justify-content:center;
        align-items:center;
        height:70vh;
        }
}

@media only screen and (min-width: 768px) and (max-width: 1025px) {
    footer {
        display: flex;
        justify-content: space-evenly;
    }

    body,input,textarea,select,option,button {
        font-size: 14.5px;
    }
    .ImageCenter{
        display:flex; 
        justify-content:center;
        align-items:center;
        height:70vh;
        }
}

@media only screen and (min-width: 1026px) {
    footer {
        display: flex;
        justify-content: space-evenly;
    }

    body,input,textarea,select,option {
        font-size: 18px;
    }
    .ImageCenter{
        display:flex; 
        justify-content:center;
        align-items:center;
        height:70vh;
        }
}